
hold_out_data/orthovnir057_ROI_NON_Blue_Tarps.txt
hold_out_data/orthovnir067_ROI_Blue_Tarps.txt
hold_out_data/orthovnir067_ROI_Blue_Tarps_data.txt
hold_out_data/orthovnir067_ROI_NOT_Blue_Tarps.txt
hold_out_data/orthovnir069_ROI_Blue_Tarps.txt
hold_out_data/orthovnir069_ROI_NOT_Blue_Tarps.txt
hold_out_data/orthovnir071_makeshift_villiage1.jpg
hold_out_data/orthovnir071_makeshift_villiage2.jpg
hold_out_data/orthovnir078_makeshift_villiage1.jpg
hold_out_data/orthovnir078_ROI_Blue_Tarps.txt
hold_out_data/orthovnir078_ROI_NON_Blue_Tarps.txt
